<!DOCTYPE html>
<head lang="zh-CN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<title>杭州外国语学校</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" id="page_favionc">

	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Public/html/css/main.css" />
</head>
<html> 
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{:U('Index/index')}" style="color:black" class="active">首页</a></li>
							<li><a href="{:U('Department/department')}" style="color:black">机构设置</a></li>
							<li><a href="{:U('News/list')}" style="color:black">信息公告</a></li>
							<li><a href="{:U('Index/index')}#cta" style="color:black">关于我们</a></li>
						</ul>
					</nav>

<!-- Main -->
<div id="main">

    <!-- Content -->
    <section id="content" class="main">
        <h2>一、学校简介</h2>
        <p style="text-indent:2em;"><span class="image right"><img src="/Public/html/images/hw4.jpg" alt="" /></span>杭州外国语学校创建于1964年，是我国首批重点建设的外国语学校，由周恩来总理和陈毅外长提议创办，以培养高级外语人才，适应中国对外开放的发展需要。目前，我校是全国17所著名外国语学校之一，享有教育部认定的20%保送生资格，是浙江省教育厅直属的重点中学。</p>
        <p style="text-indent:2em;">学校位于杭州西郊风景秀丽的小和山高教园区，校园环境优美，人文气息浓厚，拥有一流的教育教学设施设备。现有正式教职员工近300人，其中教授1人，省特级教师9人，43%教师具有高级职称，24%教师具有硕士、博士学位，95%英语教师具有海外执教经历，85%教职员工具有出国培训、交流经历。我校是一所初、高中一贯制的完全中学。2007年，我校被国家汉办认定为汉语国际推广中小学基地，翻开了国际交流与合作的新篇章。2010年，浙江省中小学外语教师培训基地在我校揭牌成立，为我校辐射优质教育资源、推进教育均衡发展创造了有利条件。</p> 
        <p style="text-indent:2em;">经过多年发展，我校已然形成鲜明的办学特色。以“为祖国而学习，为未来作准备”为校训，积极营造“宽容大气，严谨笃学”的优良校风，致力于培养“外语特长、文理兼优、全面发展的国际化预备英才”。贯彻实施“育人为本、因材施教”的教育理念，努力营造“多元融通、异彩纷呈”的校园文化氛围，培养学生“自主、合作、创新”的意识和能力，促使每位学生全面且有个性地发展，真正成为“继承传统精髓的知识人、具备公民意识的现代人和具有国际视野的中国人”。</p>
		<p style="text-indent:2em;">我校将始终高举“办人民满意教育”的旗帜，努力建设成为一所高质量、高水平的特色学校，一所实验性、示范性的窗口学校，一所基础教育现代化、国际化的品牌学校，更好地适应社会多样化、高标准的教育需求。</p>
		<h2>二、办学成果</h2>
		<h3>（一）学校荣誉</h3>	
		<p style="text-indent:2em;">1995年，我校即被浙江省教育委员会授予“省级特色高中”荣誉称号。进入21世纪以来，我校先后获得“全国首批合格外国语学校”、“浙江省一级重点中学”、“浙江省首批一级特色示范学校”、“浙江省依法治校示范校”、“浙江省校本教研示范学校”、“浙江省绿化模范单位”、“浙江省平安校园”、“杭州市文明单位”等荣誉称号。校团委、校党委分别获评“浙江省先进团委”、“浙江省教育厅创先争优先进基层党组织”。</p>
		<p style="text-indent:2em;"><span class="image left"><img src="/Public/html/images/hw5.jpg" alt="" /></span>我校始终坚持外语办学特色的传承与发展，与兄弟外国语学校达成“提高质量，彰显特色，加强国际化建设”的共识，切实将教育的着眼点放在培养现代人所需要的知识、能力和价值观上。2007年，研究成果《以文化为导向的外语教育理论与实践》荣获浙江省第三届基础教育教学成果奖一等奖。2011年，研究成果《模拟联合国选修课程的构建与实践》荣获浙江省第四届基础教育教学成果奖二等奖。2014年，《以文化为导向的外文特色教育理论与实践》课题荣获教育部基础教育国家级教学成果奖二等奖。</p>
		<h3>（二）教学业绩</h3>
		<p style="text-indent:2em;">我校每年约有75%高三毕业生保送国内重点大学或被国外著名高校提前录取，历届高考亦屡创佳绩。2003年以来，2名学生荣获浙江省高考状元，3名学生荣获杭州市高考状元；高考一本上线率均达93%以上，2012年高考一本上线率高达97%；200余名学生进入清华大学、北京大学、香港大学深造，10名学生被哈佛大学、牛津大学、剑桥大学录取。此外，我校学生在国际中学生模拟联合国大会、世界中学生议会制辩论赛、国际信息学奥林匹克竞赛、青少年机器人世界杯、丘成桐中学数学奖、中国汉字听写大会等国内外高水平学科竞赛、学术活动中获奖连连。</p>
		<h3>（三）校友风采</h3>
		<p style="text-indent:2em;">我校毕业生具有很强的适应能力和发展潜力，他们正活跃在各行各业的前台。目前，30余名校友供职于中国外交部，如中国驻印度前大使张炎，中国驻希腊大使邹肖力，外交部翻译室主任张建敏，外交部新闻司参赞邵峥等。我校部分校友虽旅居国外，但正以自身的贡献吸引着世界的目光。2010年，孙太一、戴磊等2名校友荣膺“美国十大杰出华人青年”称号。2014年，汪滔校友获评“中美十大创新人物”。</p>
		<h2>三、课程与教学</h2>	
		<p style="text-indent:2em;">在保质、保量完成必修课程教学计划的同时，我校严格按照“轻负高质”的要求，深化课程改革，鼓励教学创新，大力推进校本课程、选修课程建设，有效促进教师专业发展，全面提升学生的认知水平和综合素质。</p>
		<p style="text-indent:2em;">目前，学校开设了180余门选修课程，涵盖知识拓展、兴趣特长、职业技能、社会实践等多种门类。重点打造精品特色课程，其中，模拟联合国、议会制辩论等校本选修课程已形成一定的知名度和影响力。同时，学校不断完善初高中衔接课程、大预班特色课程（含中国文化、世界文明史、高等数学、法律知识等大学先修课程，为学生进入大学学习打下坚实的基础）以及法语、德语、日语等小语种课程，促使课程呈现多样化、特色化发展。</p>
		<p style="text-indent:2em;">外文节、文化节、科技节、艺术节、体育节等“五大节”活动，既是校园文化建设的主要载体，又是校本课程的重要内容，为学生的健康成长和全面发展搭建了良好的平台。此外，将社团活动课程化，在总结社团活动经验与成果的基础上，进一步丰富校本课程的形式和内容。学校现有近30家学生社团，各家社团特色明显、个性突出，是学生发挥特长、施展才华、锻炼能力的重要途径。</p>
		<p style="text-indent:2em;">我校教师在各自的专业领域辛勤耕耘，亦取得了骄人的教研成绩。2003年以来，1位教师获聘教育部基础教育课程教材专家工作委员会委员，3位教师获评“全国优秀教师”，6位教师获评“浙江省中小学教坛新秀”，逾30位教师在全省乃至全国课堂教学评比中荣获一等奖。1项研究成果荣获基础教育国家级教学成果奖二等奖，2项研究成果分获浙江省基础教育教学成果一、二等奖，等等。</p>
		<h2>四、合作与交流</h2>
		<p style="text-indent:2em;"><span class="image right"><img src="/Public/html/images/hw6.jpg" alt="" /></span>我校十分注重国际交流与合作，并以此为契机，学习和借鉴国际先进的教育理念与经验。早在1986年，我校就与美国明尼苏达州达成合作意向，双方每年互派教师进行为期半年的交流。近年来，学校先后与美国、英国、法国、德国、意大利、澳大利亚、新西兰等国的10余所学校建立了姐妹学校关系，并频繁开展了师生互访交流活动。目前，学校已与国外中小学合作共建了2所“孔子课堂”，每年选派6-8名教师出国任教。同时，每年接待7-8批姐妹学校师生来校学习汉语，并于近年成功承办了4届“汉语桥”英国、美国中学生夏令营活动。值得一提的是，我校外派教师的工作一直倍受外方称赞，多次获得当地报纸、电视、网络等媒体的关注。另外，学校每年还要接待来自世界各地的政府访问团、教育交流团8-10批，每年也组织5-6批学生赴海外姐妹学校访问。</p>
		<p style="text-indent:2em;">另一方面，学校积极开展与国外著名高校之间的交流与合作，共建留学绿色通道，为学生提供多元、优质、高效的海外升学途径。目前，我校已与美国爱荷华大学、加拿大多伦多大学、法国鲁昂高等工程师学院、日本立命馆大学、新加坡国立大学等10余所高校建立长期招生合作关系。2008年，我校引进A-Level课程，开办了“剑桥国际高中课程实验班”。中外合作办学，不仅丰富了我校的育人模式，更为我校教育教学的改革与创新提供了有益的参考。</p>
    </section>

</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Copyright &copy; 杭州外国语学校. Design: FSC项目组</p>
					</footer>


			</div>


	</body>
</html>